spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Database_name
    username: root
    password: your password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: your email
    password: your password
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false

server:
  port: 8085

uploads:
  dir: uploads/

secret:
  key: S9eJvVhVZ4oKQ1zq7xgH1L2mA5tR8yN3bU6cP4dE0jW9fS3rG7kM2nT8vX5qY1oC
