spring:
  datasource:
    url: jdbc:mysql://localhost:3306/db_name
    username: your db username
    password: your db password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: your email
    password: password
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

server:
  port: 8085

uploads:
  dir: uploads/

thymeleaf:
  prefix: classpath:/templates/
  suffix: .html
  mode: HTML
  cache: false

secret:
  key: S9eJvVhVZ4oKQ1zq7xgH1L2mA5tR8yN3bU6cP4dE0jW9fS3rG7kM2nT8vX5qY1oC
